.kg-gallery-container {
	display: flex;
	flex-direction: column;
	max-width: 1040px;
}

.kg-gallery-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.kg-gallery-row:not(:first-of-type) {
	margin: .5em 0 0;
}

.kg-gallery-image {
	flex: 0.75 1 0%;
}

.kg-gallery-image:not(:first-of-type) {
	margin: 0 0 0 .5em;
}

.kg-gallery-image img {
	display: block;
	margin: 0;
	width: 100%;
	height: 100%;
}

.post-full-content figcaption {
  margin: 1em 0 0;
  color: #5d7179;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  font-size: 75%;
  line-height: 1.5em;
  text-align: center;
}
